body {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  padding: 2rem;
}

html {
  font-size: 62.5%;
}

.borders {
  border: 0.1rem solid #34495588;
}

.modal-content{
  width: 70%;
  height: 70%;
}


